.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.button {
    background-color: #c2e0f8;
    color: #056674;
    text-align: center;
    font-family: f;
    font-size: 100px;
    font-weight: bold;
    position: absolute;
    cursor: pointer;
    margin: 20px ;
    float: center;
    top: 30%;
    bottom: 15%;
    z-index: 0;
}

.howtoplay {
    position: absolute;
    margin: 0 auto;
    top: 20px;
    left: 20px;
}
#para {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    z-index: 2;
    font-size: 100px; 
    color: rgb(22, 20, 21);
    -webkit-text-stroke: 3px #7bb8eb
}

.split {
    width: 45%;
    height: 30%;
    
    top: 35%;
    left:auto;
    right:auto;
    position: fixed;
    overflow-x: hidden;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media (max-width:768px) {
    .button{
        font-size: 40px;
    }

    #para {
        font-size: 65px;
    }
}