.buttons {
    background-color: rgb(220, 234, 245);
    color: rgb(56, 55, 55);
    padding: 10px 260px;
    text-align: center;
    font-family: f;
    font-size: 40px;
    font-weight: bold;
    position: fixed;
    cursor: pointer;
}

.button1 {
    background-color: rgb(220, 234, 245);
    color: rgb(56, 55, 55);
    padding: 10px 100px;
    text-align: center;
    font-family: f;
    font-size: 40px;
    font-weight: bold;
    position: fixed;
    cursor: pointer;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.up {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
